<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lindroy.iosdialoglib">

    <dist:module dist:instant="true" />

    <application
        android:name="com.lindroy.sample.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.lindroy.sample.JavaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/use_in_java"/>
        <activity
            android:name="com.lindroy.sample.KotlinActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/use_in_kotlin" />
        <activity android:name="com.lindroy.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>